<div class="container d-flex flex-column justify-content-center align-items-center" style="height: 100vh;">
  <%= image_tag('not_found.png', alt: 'Not Found', class: 'img-fluid mb-4', style: 'max-width: 35%; height: auto;') %>
 
  <p class="mb-4">The page you were looking for doesn't exist.</p>
  <%= link_to 'Go to Homepage', root_path, class: 'btn btn-primary' %>
</div>
